* {
    font-family: 'Lato', sans-serif!important;
}
.fs_search_results_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.fs_product_image {
    aspect-ratio: 1/1;
}
.fs_search_form {
    margin: 25px;
    width: 100%;
}
#searchInput {
    width: 85%;
}
.fs_collections_btn_wrapper {
    margin: 25px;
}
.fs_search_results_title {
    margin: 25px;
}
.fs_filters_container {
    margin: 25px;
}
.fs_filter_container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.fs_filters_products_wrapper {
    display: flex;
    flex-direction: row;
}
.fs_filters_container {
    min-width: 300px;
    height: fit-content;
    border: 1px solid gray;
    padding: 5px;
}
.fs_label_element {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 22px;
}
.fs_search_results_container {
    width: 100%;
}
.fs_filter_checkbox_wrap {
    margin-bottom: 3px;
}
.fs_filter_checkbox_count {
    margin-left: 10px;
}
.fs_search_bar {
    display: flex;
    margin: 25px;
    align-items: flex-start;
}
.fs_logo {
    min-width: 180px;
}
.fs_logo_wrap {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
}
.fs_logo_text {
    font-family: sans-serif !important;
    text-align: center;
    /* width: 100%; */
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 5px;
    border-bottom: 4px solid red;
    padding-bottom: 2px;
}
.fs_sort_by_wrap {
    margin: 25px;
}
.fs_autocomplete_wrap {
    width: 100%;
}
#productList {
    display: flex;
    width: 100%;
}
.fs_product_ac {
    width: 10%;
    list-style-type: none;
}
.fs_product_image_ac {
    width: 100%;
}
.fs_search_form {
display: flex;
    align-items: center;
    justify-content: center;
}

.fs_search_form input[type="text"] {
    padding: 8px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 16px;
}

.fs_search_form button[type="submit"] {
    padding: 8px 16px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.fs_search_form button[type="submit"]:hover {
    background-color: darkred;
}
.fs_collections_btn_wrapper {
    display: inline-flex;
    align-items: center;
  }

  .fs_collections_btn {
    padding: 8px 16px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 15px;
  }

  .fs_collections_btn:hover {
    background-color: darkred;
  }

  .fs_sort_by_wrap {
    display: flex;
    align-items: center;
  }

  .fs_sort_by_label {
    color: black;
    margin-right: 10px;
    font-size: 16px;
  }

  .fs_sort_by_select {
    padding: 6px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
  }

  .fs_sort_by_option {
    background-color: white;
    color: black;
  }

  